/*

    Mixins

 */
/*
	
	General Styles

*/
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Crimson Text', 'Georgia', 'Times New Roman', serif;
  font-size: 20px;
  line-height: 22px;
  color: #333; }

/*

	Containers

*/
#reveal-menu {
  position: fixed;
  top: 10px;
  left: 0;
  width: 50px;
  height: 50px;
  background: #fff;
  border: 1px solid #A8A8A8;
  border-left: none;
  cursor: pointer;
  z-index: 2; }
  #reveal-menu .span-ctn {
    display: block;
    width: 100%;
    height: 100%;
    padding: 11px 10px; }
    #reveal-menu .span-ctn span {
      display: block;
      width: 29px;
      margin: auto;
      margin-bottom: 5px;
      height: 5px;
      background: red;
      border-radius: 0;
      transition: all, 370ms, ease-in-out; }
      #reveal-menu .span-ctn span:last-child {
        margin-bottom: 0; }
  #reveal-menu:hover .span-ctn span, #reveal-menu.active .span-ctn span {
    width: 5px;
    border-radius: 50%; }

.buttons {
  height: 100%;
  padding: 20px;
  background: #fff;
  padding-bottom: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -200px;
  width: 200px;
  border-right: 1px solid #A8A8A8; }
  .buttons ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .buttons ul li {
      display: block;
      padding: 10px 0;
      border-top: 1px solid #A8A8A8;
      cursor: pointer;
      font-family: 'Oswald', 'Helvetica Neue', 'Helvetica', 'Impact', 'Arial', sans-serif;
      font-weight: lighter;
      font-size: 18px; }
      .buttons ul li:last-child {
        border-bottom: 1px solid #A8A8A8; }
      .buttons ul li:hover, .buttons ul li.active {
        color: red; }

.tracks {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  background: #fff url("../images/logo.png") no-repeat center center; }
  .tracks .track {
    display: none;
    float: left;
    width: 300px;
    overflow: scroll;
    margin-right: 10px;
    position: relative;
    border-bottom: 1px solid #cfcfcf;
    transition: border-bottom-color, 370ms, ease-in-out; }
    .tracks .track .track-content {
      border-radius: 4px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      background: #fafafa;
      background: rgba(250, 250, 250, 0.95);
      border: 1px solid #cfcfcf;
      border-bottom: none;
      padding: 4px;
      margin-top: 160px;
      display: block;
      width: 100%;
      transition: border-color, 370ms, ease-in-out; }
      .tracks .track .track-content .story-ctn {
        padding: 7px;
        border: 1px solid #cfcfcf;
        border-bottom: 1px solid transparent; }
        .tracks .track .track-content .story-ctn:first-child {
          border-top-right-radius: 3px;
          border-top-left-radius: 3px; }
        .tracks .track .track-content .story-ctn:last-child {
          border-bottom: 1px solid #afafaf;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px; }
        .tracks .track .track-content .story-ctn:hover {
          border-bottom: 1px solid;
          border-color: #666; }
          .tracks .track .track-content .story-ctn:hover + .story-ctn {
            border-top: 1px solid transparent; }
        .tracks .track .track-content .story-ctn p {
          margin: 0; }
        .tracks .track .track-content .story-ctn .desc-ctn p {
          font-size: 16px;
          font-style: italic;
          color: #8e8e8e; }
        .tracks .track .track-content .story-ctn img {
          width: 100%;
          height: auto; }
    .tracks .track .track-link {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -75px;
      width: 150px;
      height: 150px;
      display: block; }
      .tracks .track .track-link img {
        position: absolute;
        top: 0;
        left: 0; }
        .tracks .track .track-link img:nth-child(2) {
          opacity: 0; }
      .tracks .track .track-link.aljazeera img {
        left: 18px; }
      .tracks .track .track-link.bbc img {
        top: 18px; }
      .tracks .track .track-link.google img {
        top: 57px; }
      .tracks .track .track-link.frontline img {
        top: 26px; }
      .tracks .track .track-link.newrepublic img {
        top: 61px; }
      .tracks .track .track-link.huffpost img {
        top: 44px; }
      .tracks .track .track-link.nytimes img {
        top: 62px; }
      .tracks .track .track-link.npr img {
        top: 49px; }
      .tracks .track .track-link.usatoday img {
        top: 37px; }
      .tracks .track .track-link.msnbc img {
        top: 56px; }
      .tracks .track .track-link.wpost img {
        top: 62px; }

@keyframes abc-anim-1 {
  0% {
    clip: rect(35px, 150px, 102px, 0); }
  10% {
    clip: rect(62px, 150px, 143px, 0); }
  20% {
    clip: rect(71px, 150px, 76px, 0); }
  30% {
    clip: rect(112px, 150px, 132px, 0); }
  40% {
    clip: rect(127px, 150px, 5px, 0); }
  50% {
    clip: rect(14px, 150px, 69px, 0); }
  60% {
    clip: rect(78px, 150px, 146px, 0); }
  70% {
    clip: rect(87px, 150px, 60px, 0); }
  80% {
    clip: rect(3px, 150px, 12px, 0); }
  90% {
    clip: rect(21px, 150px, 116px, 0); }
  100% {
    clip: rect(85px, 150px, 126px, 0); } }

@keyframes abc-anim-2 {
  0% {
    clip: rect(32px, 150px, 55px, 0); }
  10% {
    clip: rect(15px, 150px, 72px, 0); }
  20% {
    clip: rect(81px, 150px, 3px, 0); }
  30% {
    clip: rect(49px, 150px, 46px, 0); }
  40% {
    clip: rect(38px, 150px, 96px, 0); }
  50% {
    clip: rect(142px, 150px, 130px, 0); }
  60% {
    clip: rect(64px, 150px, 92px, 0); }
  70% {
    clip: rect(123px, 150px, 40px, 0); }
  80% {
    clip: rect(36px, 150px, 122px, 0); }
  90% {
    clip: rect(137px, 150px, 16px, 0); }
  100% {
    clip: rect(149px, 150px, 86px, 0); } }
    .tracks .track#abc:hover .abc > img {
      position: absolute;
      top: 0px;
      left: 0px; }
    .tracks .track#abc:hover .abc > img:nth-child(2),
    .tracks .track#abc:hover .abc > img:nth-child(3) {
      clip: rect(0, 0, 0, 0); }
    .tracks .track#abc:hover .abc > img:nth-child(2) {
      left: 2px;
      animation: abc-anim-1 2s infinite linear alternate-reverse; }
    .tracks .track#abc:hover .abc > img:nth-child(3) {
      left: -2px;
      animation: abc-anim-2 3s infinite linear alternate-reverse; }
    .tracks .track#abc:hover .abc img:nth-child(2) {
      opacity: 1; }

@keyframes aljazeera-anim-1 {
  0% {
    clip: rect(102px, 150px, 25px, 0); }
  10% {
    clip: rect(121px, 150px, 68px, 0); }
  20% {
    clip: rect(76px, 150px, 46px, 0); }
  30% {
    clip: rect(28px, 150px, 145px, 0); }
  40% {
    clip: rect(38px, 150px, 91px, 0); }
  50% {
    clip: rect(33px, 150px, 20px, 0); }
  60% {
    clip: rect(51px, 150px, 112px, 0); }
  70% {
    clip: rect(54px, 150px, 143px, 0); }
  80% {
    clip: rect(124px, 150px, 105px, 0); }
  90% {
    clip: rect(91px, 150px, 101px, 0); }
  100% {
    clip: rect(84px, 150px, 97px, 0); } }

@keyframes aljazeera-anim-2 {
  0% {
    clip: rect(54px, 150px, 36px, 0); }
  10% {
    clip: rect(25px, 150px, 10px, 0); }
  20% {
    clip: rect(43px, 150px, 150px, 0); }
  30% {
    clip: rect(135px, 150px, 45px, 0); }
  40% {
    clip: rect(35px, 150px, 45px, 0); }
  50% {
    clip: rect(93px, 150px, 139px, 0); }
  60% {
    clip: rect(32px, 150px, 143px, 0); }
  70% {
    clip: rect(51px, 150px, 81px, 0); }
  80% {
    clip: rect(32px, 150px, 104px, 0); }
  90% {
    clip: rect(56px, 150px, 51px, 0); }
  100% {
    clip: rect(139px, 150px, 140px, 0); } }
    .tracks .track#aljazeera:hover .aljazeera > img {
      position: absolute;
      top: 0px;
      left: 18px; }
    .tracks .track#aljazeera:hover .aljazeera > img:nth-child(2),
    .tracks .track#aljazeera:hover .aljazeera > img:nth-child(3) {
      clip: rect(0, 0, 0, 0); }
    .tracks .track#aljazeera:hover .aljazeera > img:nth-child(2) {
      left: 20px;
      animation: aljazeera-anim-1 2s infinite linear alternate-reverse; }
    .tracks .track#aljazeera:hover .aljazeera > img:nth-child(3) {
      left: 16px;
      animation: aljazeera-anim-2 3s infinite linear alternate-reverse; }
    .tracks .track#aljazeera:hover .aljazeera img:nth-child(2) {
      opacity: 1; }

@keyframes bbc-anim-1 {
  0% {
    clip: rect(2px, 150px, 56px, 0); }
  10% {
    clip: rect(13px, 150px, 103px, 0); }
  20% {
    clip: rect(24px, 150px, 19px, 0); }
  30% {
    clip: rect(130px, 150px, 93px, 0); }
  40% {
    clip: rect(25px, 150px, 59px, 0); }
  50% {
    clip: rect(44px, 150px, 42px, 0); }
  60% {
    clip: rect(23px, 150px, 96px, 0); }
  70% {
    clip: rect(124px, 150px, 45px, 0); }
  80% {
    clip: rect(113px, 150px, 57px, 0); }
  90% {
    clip: rect(96px, 150px, 140px, 0); }
  100% {
    clip: rect(24px, 150px, 81px, 0); } }

@keyframes bbc-anim-2 {
  0% {
    clip: rect(110px, 150px, 87px, 0); }
  10% {
    clip: rect(2px, 150px, 128px, 0); }
  20% {
    clip: rect(82px, 150px, 16px, 0); }
  30% {
    clip: rect(91px, 150px, 88px, 0); }
  40% {
    clip: rect(61px, 150px, 102px, 0); }
  50% {
    clip: rect(95px, 150px, 4px, 0); }
  60% {
    clip: rect(70px, 150px, 36px, 0); }
  70% {
    clip: rect(65px, 150px, 1px, 0); }
  80% {
    clip: rect(95px, 150px, 41px, 0); }
  90% {
    clip: rect(135px, 150px, 46px, 0); }
  100% {
    clip: rect(90px, 150px, 147px, 0); } }
    .tracks .track#bbc:hover .bbc > img {
      position: absolute;
      top: 18px;
      left: 0px; }
    .tracks .track#bbc:hover .bbc > img:nth-child(2),
    .tracks .track#bbc:hover .bbc > img:nth-child(3) {
      clip: rect(0, 0, 0, 0); }
    .tracks .track#bbc:hover .bbc > img:nth-child(2) {
      left: 2px;
      animation: bbc-anim-1 2s infinite linear alternate-reverse; }
    .tracks .track#bbc:hover .bbc > img:nth-child(3) {
      left: -2px;
      animation: bbc-anim-2 3s infinite linear alternate-reverse; }
    .tracks .track#bbc:hover .bbc img:nth-child(2) {
      opacity: 1; }

@keyframes cnn-anim-1 {
  0% {
    clip: rect(125px, 150px, 142px, 0); }
  10% {
    clip: rect(93px, 150px, 148px, 0); }
  20% {
    clip: rect(127px, 150px, 45px, 0); }
  30% {
    clip: rect(26px, 150px, 124px, 0); }
  40% {
    clip: rect(110px, 150px, 75px, 0); }
  50% {
    clip: rect(134px, 150px, 59px, 0); }
  60% {
    clip: rect(24px, 150px, 92px, 0); }
  70% {
    clip: rect(44px, 150px, 119px, 0); }
  80% {
    clip: rect(54px, 150px, 40px, 0); }
  90% {
    clip: rect(113px, 150px, 68px, 0); }
  100% {
    clip: rect(130px, 150px, 44px, 0); } }

@keyframes cnn-anim-2 {
  0% {
    clip: rect(75px, 150px, 93px, 0); }
  10% {
    clip: rect(88px, 150px, 82px, 0); }
  20% {
    clip: rect(119px, 150px, 115px, 0); }
  30% {
    clip: rect(63px, 150px, 44px, 0); }
  40% {
    clip: rect(33px, 150px, 50px, 0); }
  50% {
    clip: rect(96px, 150px, 9px, 0); }
  60% {
    clip: rect(35px, 150px, 108px, 0); }
  70% {
    clip: rect(137px, 150px, 54px, 0); }
  80% {
    clip: rect(131px, 150px, 87px, 0); }
  90% {
    clip: rect(86px, 150px, 71px, 0); }
  100% {
    clip: rect(5px, 150px, 76px, 0); } }
    .tracks .track#cnn:hover .cnn > img {
      position: absolute;
      top: 0px;
      left: 0px; }
    .tracks .track#cnn:hover .cnn > img:nth-child(2),
    .tracks .track#cnn:hover .cnn > img:nth-child(3) {
      clip: rect(0, 0, 0, 0); }
    .tracks .track#cnn:hover .cnn > img:nth-child(2) {
      left: 2px;
      animation: cnn-anim-1 2s infinite linear alternate-reverse; }
    .tracks .track#cnn:hover .cnn > img:nth-child(3) {
      left: -2px;
      animation: cnn-anim-2 3s infinite linear alternate-reverse; }
    .tracks .track#cnn:hover .cnn img:nth-child(2) {
      opacity: 1; }

@keyframes fox-anim-1 {
  0% {
    clip: rect(55px, 150px, 68px, 0); }
  10% {
    clip: rect(84px, 150px, 50px, 0); }
  20% {
    clip: rect(49px, 150px, 39px, 0); }
  30% {
    clip: rect(66px, 150px, 144px, 0); }
  40% {
    clip: rect(25px, 150px, 76px, 0); }
  50% {
    clip: rect(5px, 150px, 109px, 0); }
  60% {
    clip: rect(139px, 150px, 139px, 0); }
  70% {
    clip: rect(30px, 150px, 80px, 0); }
  80% {
    clip: rect(84px, 150px, 13px, 0); }
  90% {
    clip: rect(52px, 150px, 67px, 0); }
  100% {
    clip: rect(48px, 150px, 33px, 0); } }

@keyframes fox-anim-2 {
  0% {
    clip: rect(95px, 150px, 144px, 0); }
  10% {
    clip: rect(7px, 150px, 104px, 0); }
  20% {
    clip: rect(88px, 150px, 90px, 0); }
  30% {
    clip: rect(88px, 150px, 25px, 0); }
  40% {
    clip: rect(106px, 150px, 2px, 0); }
  50% {
    clip: rect(23px, 150px, 100px, 0); }
  60% {
    clip: rect(128px, 150px, 41px, 0); }
  70% {
    clip: rect(28px, 150px, 45px, 0); }
  80% {
    clip: rect(19px, 150px, 133px, 0); }
  90% {
    clip: rect(121px, 150px, 51px, 0); }
  100% {
    clip: rect(54px, 150px, 19px, 0); } }
    .tracks .track#fox:hover .fox > img {
      position: absolute;
      top: 0px;
      left: 0px; }
    .tracks .track#fox:hover .fox > img:nth-child(2),
    .tracks .track#fox:hover .fox > img:nth-child(3) {
      clip: rect(0, 0, 0, 0); }
    .tracks .track#fox:hover .fox > img:nth-child(2) {
      left: 2px;
      animation: fox-anim-1 2s infinite linear alternate-reverse; }
    .tracks .track#fox:hover .fox > img:nth-child(3) {
      left: -2px;
      animation: fox-anim-2 3s infinite linear alternate-reverse; }
    .tracks .track#fox:hover .fox img:nth-child(2) {
      opacity: 1; }

@keyframes frontline-anim-1 {
  0% {
    clip: rect(55px, 150px, 26px, 0); }
  10% {
    clip: rect(40px, 150px, 12px, 0); }
  20% {
    clip: rect(7px, 150px, 122px, 0); }
  30% {
    clip: rect(58px, 150px, 13px, 0); }
  40% {
    clip: rect(22px, 150px, 61px, 0); }
  50% {
    clip: rect(140px, 150px, 110px, 0); }
  60% {
    clip: rect(128px, 150px, 85px, 0); }
  70% {
    clip: rect(70px, 150px, 111px, 0); }
  80% {
    clip: rect(139px, 150px, 86px, 0); }
  90% {
    clip: rect(76px, 150px, 121px, 0); }
  100% {
    clip: rect(28px, 150px, 111px, 0); } }

@keyframes frontline-anim-2 {
  0% {
    clip: rect(78px, 150px, 75px, 0); }
  10% {
    clip: rect(21px, 150px, 143px, 0); }
  20% {
    clip: rect(134px, 150px, 139px, 0); }
  30% {
    clip: rect(111px, 150px, 44px, 0); }
  40% {
    clip: rect(132px, 150px, 124px, 0); }
  50% {
    clip: rect(77px, 150px, 24px, 0); }
  60% {
    clip: rect(66px, 150px, 57px, 0); }
  70% {
    clip: rect(60px, 150px, 62px, 0); }
  80% {
    clip: rect(5px, 150px, 60px, 0); }
  90% {
    clip: rect(125px, 150px, 16px, 0); }
  100% {
    clip: rect(24px, 150px, 128px, 0); } }
    .tracks .track#frontline:hover .frontline > img {
      position: absolute;
      top: 26px;
      left: 0px; }
    .tracks .track#frontline:hover .frontline > img:nth-child(2),
    .tracks .track#frontline:hover .frontline > img:nth-child(3) {
      clip: rect(0, 0, 0, 0); }
    .tracks .track#frontline:hover .frontline > img:nth-child(2) {
      left: 2px;
      animation: frontline-anim-1 2s infinite linear alternate-reverse; }
    .tracks .track#frontline:hover .frontline > img:nth-child(3) {
      left: -2px;
      animation: frontline-anim-2 3s infinite linear alternate-reverse; }
    .tracks .track#frontline:hover .frontline img:nth-child(2) {
      opacity: 1; }

@keyframes google-anim-1 {
  0% {
    clip: rect(4px, 150px, 31px, 0); }
  10% {
    clip: rect(6px, 150px, 30px, 0); }
  20% {
    clip: rect(20px, 150px, 18px, 0); }
  30% {
    clip: rect(18px, 150px, 22px, 0); }
  40% {
    clip: rect(4px, 150px, 28px, 0); }
  50% {
    clip: rect(25px, 150px, 11px, 0); }
  60% {
    clip: rect(22px, 150px, 9px, 0); }
  70% {
    clip: rect(11px, 150px, 23px, 0); }
  80% {
    clip: rect(12px, 150px, 11px, 0); }
  90% {
    clip: rect(2px, 150px, 9px, 0); }
  100% {
    clip: rect(15px, 150px, 8px, 0); } }

@keyframes google-anim-2 {
  0% {
    clip: rect(23px, 150px, 3px, 0); }
  10% {
    clip: rect(20px, 150px, 10px, 0); }
  20% {
    clip: rect(16px, 150px, 12px, 0); }
  30% {
    clip: rect(1px, 150px, 7px, 0); }
  40% {
    clip: rect(31px, 150px, 3px, 0); }
  50% {
    clip: rect(26px, 150px, 16px, 0); }
  60% {
    clip: rect(4px, 150px, 19px, 0); }
  70% {
    clip: rect(7px, 150px, 11px, 0); }
  80% {
    clip: rect(15px, 150px, 8px, 0); }
  90% {
    clip: rect(20px, 150px, 2px, 0); }
  100% {
    clip: rect(18px, 150px, 27px, 0); } }
    .tracks .track#google:hover .google > img {
      position: absolute;
      top: 57px;
      left: 0px; }
    .tracks .track#google:hover .google > img:nth-child(2),
    .tracks .track#google:hover .google > img:nth-child(3) {
      clip: rect(0, 0, 0, 0); }
    .tracks .track#google:hover .google > img:nth-child(2) {
      left: 2px;
      animation: google-anim-1 2s infinite linear alternate-reverse; }
    .tracks .track#google:hover .google > img:nth-child(3) {
      left: -2px;
      animation: google-anim-2 3s infinite linear alternate-reverse; }
    .tracks .track#google:hover .google img:nth-child(2) {
      opacity: 1; }

@keyframes huffpost-anim-1 {
  0% {
    clip: rect(9px, 150px, 55px, 0); }
  10% {
    clip: rect(2px, 150px, 25px, 0); }
  20% {
    clip: rect(6px, 150px, 42px, 0); }
  30% {
    clip: rect(18px, 150px, 22px, 0); }
  40% {
    clip: rect(24px, 150px, 38px, 0); }
  50% {
    clip: rect(38px, 150px, 23px, 0); }
  60% {
    clip: rect(5px, 150px, 48px, 0); }
  70% {
    clip: rect(1px, 150px, 35px, 0); }
  80% {
    clip: rect(51px, 150px, 41px, 0); }
  90% {
    clip: rect(31px, 150px, 7px, 0); }
  100% {
    clip: rect(42px, 150px, 5px, 0); } }

@keyframes huffpost-anim-2 {
  0% {
    clip: rect(20px, 150px, 34px, 0); }
  10% {
    clip: rect(29px, 150px, 32px, 0); }
  20% {
    clip: rect(50px, 150px, 25px, 0); }
  30% {
    clip: rect(4px, 150px, 39px, 0); }
  40% {
    clip: rect(49px, 150px, 38px, 0); }
  50% {
    clip: rect(9px, 150px, 22px, 0); }
  60% {
    clip: rect(42px, 150px, 14px, 0); }
  70% {
    clip: rect(1px, 150px, 53px, 0); }
  80% {
    clip: rect(48px, 150px, 43px, 0); }
  90% {
    clip: rect(58px, 150px, 25px, 0); }
  100% {
    clip: rect(43px, 150px, 2px, 0); } }
    .tracks .track#huffpost:hover .huffpost > img {
      position: absolute;
      top: 44px;
      left: 0px; }
    .tracks .track#huffpost:hover .huffpost > img:nth-child(2),
    .tracks .track#huffpost:hover .huffpost > img:nth-child(3) {
      clip: rect(0, 0, 0, 0); }
    .tracks .track#huffpost:hover .huffpost > img:nth-child(2) {
      left: 2px;
      animation: huffpost-anim-1 2s infinite linear alternate-reverse; }
    .tracks .track#huffpost:hover .huffpost > img:nth-child(3) {
      left: -2px;
      animation: huffpost-anim-2 3s infinite linear alternate-reverse; }
    .tracks .track#huffpost:hover .huffpost img:nth-child(2) {
      opacity: 1; }

@keyframes newrepublic-anim-1 {
  0% {
    clip: rect(3px, 150px, 12px, 0); }
  10% {
    clip: rect(8px, 150px, 21px, 0); }
  20% {
    clip: rect(7px, 150px, 18px, 0); }
  30% {
    clip: rect(17px, 150px, 6px, 0); }
  40% {
    clip: rect(3px, 150px, 22px, 0); }
  50% {
    clip: rect(15px, 150px, 17px, 0); }
  60% {
    clip: rect(22px, 150px, 14px, 0); }
  70% {
    clip: rect(17px, 150px, 2px, 0); }
  80% {
    clip: rect(2px, 150px, 16px, 0); }
  90% {
    clip: rect(22px, 150px, 1px, 0); }
  100% {
    clip: rect(1px, 150px, 2px, 0); } }

@keyframes newrepublic-anim-2 {
  0% {
    clip: rect(20px, 150px, 12px, 0); }
  10% {
    clip: rect(19px, 150px, 17px, 0); }
  20% {
    clip: rect(16px, 150px, 12px, 0); }
  30% {
    clip: rect(15px, 150px, 23px, 0); }
  40% {
    clip: rect(6px, 150px, 23px, 0); }
  50% {
    clip: rect(18px, 150px, 22px, 0); }
  60% {
    clip: rect(20px, 150px, 19px, 0); }
  70% {
    clip: rect(8px, 150px, 22px, 0); }
  80% {
    clip: rect(7px, 150px, 22px, 0); }
  90% {
    clip: rect(9px, 150px, 13px, 0); }
  100% {
    clip: rect(23px, 150px, 23px, 0); } }
    .tracks .track#newrepublic:hover .newrepublic > img {
      position: absolute;
      top: 61px;
      left: 0px; }
    .tracks .track#newrepublic:hover .newrepublic > img:nth-child(2),
    .tracks .track#newrepublic:hover .newrepublic > img:nth-child(3) {
      clip: rect(0, 0, 0, 0); }
    .tracks .track#newrepublic:hover .newrepublic > img:nth-child(2) {
      left: 2px;
      animation: newrepublic-anim-1 2s infinite linear alternate-reverse; }
    .tracks .track#newrepublic:hover .newrepublic > img:nth-child(3) {
      left: -2px;
      animation: newrepublic-anim-2 3s infinite linear alternate-reverse; }
    .tracks .track#newrepublic:hover .newrepublic img:nth-child(2) {
      opacity: 1; }

@keyframes nytimes-anim-1 {
  0% {
    clip: rect(14px, 150px, 15px, 0); }
  10% {
    clip: rect(5px, 150px, 15px, 0); }
  20% {
    clip: rect(3px, 150px, 6px, 0); }
  30% {
    clip: rect(1px, 150px, 14px, 0); }
  40% {
    clip: rect(19px, 150px, 10px, 0); }
  50% {
    clip: rect(24px, 150px, 10px, 0); }
  60% {
    clip: rect(23px, 150px, 20px, 0); }
  70% {
    clip: rect(18px, 150px, 26px, 0); }
  80% {
    clip: rect(8px, 150px, 4px, 0); }
  90% {
    clip: rect(24px, 150px, 12px, 0); }
  100% {
    clip: rect(21px, 150px, 16px, 0); } }

@keyframes nytimes-anim-2 {
  0% {
    clip: rect(22px, 150px, 17px, 0); }
  10% {
    clip: rect(15px, 150px, 1px, 0); }
  20% {
    clip: rect(22px, 150px, 23px, 0); }
  30% {
    clip: rect(15px, 150px, 15px, 0); }
  40% {
    clip: rect(25px, 150px, 12px, 0); }
  50% {
    clip: rect(12px, 150px, 23px, 0); }
  60% {
    clip: rect(23px, 150px, 6px, 0); }
  70% {
    clip: rect(19px, 150px, 1px, 0); }
  80% {
    clip: rect(18px, 150px, 15px, 0); }
  90% {
    clip: rect(21px, 150px, 13px, 0); }
  100% {
    clip: rect(12px, 150px, 14px, 0); } }
    .tracks .track#nytimes:hover .nytimes > img {
      position: absolute;
      top: 62px;
      left: 0px; }
    .tracks .track#nytimes:hover .nytimes > img:nth-child(2),
    .tracks .track#nytimes:hover .nytimes > img:nth-child(3) {
      clip: rect(0, 0, 0, 0); }
    .tracks .track#nytimes:hover .nytimes > img:nth-child(2) {
      left: 2px;
      animation: nytimes-anim-1 2s infinite linear alternate-reverse; }
    .tracks .track#nytimes:hover .nytimes > img:nth-child(3) {
      left: -2px;
      animation: nytimes-anim-2 3s infinite linear alternate-reverse; }
    .tracks .track#nytimes:hover .nytimes img:nth-child(2) {
      opacity: 1; }

@keyframes npr-anim-1 {
  0% {
    clip: rect(40px, 150px, 42px, 0); }
  10% {
    clip: rect(38px, 150px, 10px, 0); }
  20% {
    clip: rect(20px, 150px, 29px, 0); }
  30% {
    clip: rect(47px, 150px, 10px, 0); }
  40% {
    clip: rect(45px, 150px, 50px, 0); }
  50% {
    clip: rect(10px, 150px, 35px, 0); }
  60% {
    clip: rect(38px, 150px, 39px, 0); }
  70% {
    clip: rect(23px, 150px, 10px, 0); }
  80% {
    clip: rect(34px, 150px, 36px, 0); }
  90% {
    clip: rect(41px, 150px, 26px, 0); }
  100% {
    clip: rect(10px, 150px, 2px, 0); } }

@keyframes npr-anim-2 {
  0% {
    clip: rect(2px, 150px, 12px, 0); }
  10% {
    clip: rect(47px, 150px, 35px, 0); }
  20% {
    clip: rect(1px, 150px, 17px, 0); }
  30% {
    clip: rect(4px, 150px, 16px, 0); }
  40% {
    clip: rect(1px, 150px, 39px, 0); }
  50% {
    clip: rect(47px, 150px, 3px, 0); }
  60% {
    clip: rect(2px, 150px, 3px, 0); }
  70% {
    clip: rect(44px, 150px, 30px, 0); }
  80% {
    clip: rect(19px, 150px, 35px, 0); }
  90% {
    clip: rect(47px, 150px, 46px, 0); }
  100% {
    clip: rect(14px, 150px, 28px, 0); } }
    .tracks .track#npr:hover .npr > img {
      position: absolute;
      top: 49px;
      left: 0px; }
    .tracks .track#npr:hover .npr > img:nth-child(2),
    .tracks .track#npr:hover .npr > img:nth-child(3) {
      clip: rect(0, 0, 0, 0); }
    .tracks .track#npr:hover .npr > img:nth-child(2) {
      left: 2px;
      animation: npr-anim-1 2s infinite linear alternate-reverse; }
    .tracks .track#npr:hover .npr > img:nth-child(3) {
      left: -2px;
      animation: npr-anim-2 3s infinite linear alternate-reverse; }
    .tracks .track#npr:hover .npr img:nth-child(2) {
      opacity: 1; }

@keyframes usatoday-anim-1 {
  0% {
    clip: rect(32px, 150px, 26px, 0); }
  10% {
    clip: rect(31px, 150px, 77px, 0); }
  20% {
    clip: rect(68px, 150px, 35px, 0); }
  30% {
    clip: rect(54px, 150px, 35px, 0); }
  40% {
    clip: rect(9px, 150px, 42px, 0); }
  50% {
    clip: rect(11px, 150px, 43px, 0); }
  60% {
    clip: rect(35px, 150px, 70px, 0); }
  70% {
    clip: rect(78px, 150px, 23px, 0); }
  80% {
    clip: rect(29px, 150px, 12px, 0); }
  90% {
    clip: rect(54px, 150px, 27px, 0); }
  100% {
    clip: rect(13px, 150px, 61px, 0); } }

@keyframes usatoday-anim-2 {
  0% {
    clip: rect(76px, 150px, 64px, 0); }
  10% {
    clip: rect(45px, 150px, 66px, 0); }
  20% {
    clip: rect(67px, 150px, 39px, 0); }
  30% {
    clip: rect(37px, 150px, 12px, 0); }
  40% {
    clip: rect(72px, 150px, 1px, 0); }
  50% {
    clip: rect(58px, 150px, 39px, 0); }
  60% {
    clip: rect(52px, 150px, 44px, 0); }
  70% {
    clip: rect(50px, 150px, 72px, 0); }
  80% {
    clip: rect(10px, 150px, 62px, 0); }
  90% {
    clip: rect(22px, 150px, 13px, 0); }
  100% {
    clip: rect(61px, 150px, 58px, 0); } }
    .tracks .track#usatoday:hover .usatoday > img {
      position: absolute;
      top: 37px;
      left: 0px; }
    .tracks .track#usatoday:hover .usatoday > img:nth-child(2),
    .tracks .track#usatoday:hover .usatoday > img:nth-child(3) {
      clip: rect(0, 0, 0, 0); }
    .tracks .track#usatoday:hover .usatoday > img:nth-child(2) {
      left: 2px;
      animation: usatoday-anim-1 2s infinite linear alternate-reverse; }
    .tracks .track#usatoday:hover .usatoday > img:nth-child(3) {
      left: -2px;
      animation: usatoday-anim-2 3s infinite linear alternate-reverse; }
    .tracks .track#usatoday:hover .usatoday img:nth-child(2) {
      opacity: 1; }

@keyframes msnbc-anim-1 {
  0% {
    clip: rect(23px, 150px, 22px, 0); }
  10% {
    clip: rect(27px, 150px, 18px, 0); }
  20% {
    clip: rect(19px, 150px, 21px, 0); }
  30% {
    clip: rect(14px, 150px, 8px, 0); }
  40% {
    clip: rect(21px, 150px, 20px, 0); }
  50% {
    clip: rect(2px, 150px, 8px, 0); }
  60% {
    clip: rect(23px, 150px, 5px, 0); }
  70% {
    clip: rect(13px, 150px, 26px, 0); }
  80% {
    clip: rect(9px, 150px, 5px, 0); }
  90% {
    clip: rect(9px, 150px, 27px, 0); }
  100% {
    clip: rect(9px, 150px, 25px, 0); } }

@keyframes msnbc-anim-2 {
  0% {
    clip: rect(7px, 150px, 21px, 0); }
  10% {
    clip: rect(28px, 150px, 27px, 0); }
  20% {
    clip: rect(17px, 150px, 27px, 0); }
  30% {
    clip: rect(1px, 150px, 18px, 0); }
  40% {
    clip: rect(10px, 150px, 6px, 0); }
  50% {
    clip: rect(16px, 150px, 7px, 0); }
  60% {
    clip: rect(27px, 150px, 24px, 0); }
  70% {
    clip: rect(25px, 150px, 4px, 0); }
  80% {
    clip: rect(5px, 150px, 27px, 0); }
  90% {
    clip: rect(13px, 150px, 10px, 0); }
  100% {
    clip: rect(21px, 150px, 15px, 0); } }
    .tracks .track#msnbc:hover .msnbc > img {
      position: absolute;
      top: 56px;
      left: 0px; }
    .tracks .track#msnbc:hover .msnbc > img:nth-child(2),
    .tracks .track#msnbc:hover .msnbc > img:nth-child(3) {
      clip: rect(0, 0, 0, 0); }
    .tracks .track#msnbc:hover .msnbc > img:nth-child(2) {
      left: 2px;
      animation: msnbc-anim-1 2s infinite linear alternate-reverse; }
    .tracks .track#msnbc:hover .msnbc > img:nth-child(3) {
      left: -2px;
      animation: msnbc-anim-2 3s infinite linear alternate-reverse; }
    .tracks .track#msnbc:hover .msnbc img:nth-child(2) {
      opacity: 1; }

@keyframes wpost-anim-1 {
  0% {
    clip: rect(5px, 150px, 21px, 0); }
  10% {
    clip: rect(22px, 150px, 8px, 0); }
  20% {
    clip: rect(19px, 150px, 1px, 0); }
  30% {
    clip: rect(13px, 150px, 15px, 0); }
  40% {
    clip: rect(13px, 150px, 22px, 0); }
  50% {
    clip: rect(19px, 150px, 13px, 0); }
  60% {
    clip: rect(4px, 150px, 20px, 0); }
  70% {
    clip: rect(13px, 150px, 18px, 0); }
  80% {
    clip: rect(12px, 150px, 18px, 0); }
  90% {
    clip: rect(14px, 150px, 14px, 0); }
  100% {
    clip: rect(20px, 150px, 7px, 0); } }

@keyframes wpost-anim-2 {
  0% {
    clip: rect(13px, 150px, 1px, 0); }
  10% {
    clip: rect(3px, 150px, 7px, 0); }
  20% {
    clip: rect(7px, 150px, 10px, 0); }
  30% {
    clip: rect(10px, 150px, 10px, 0); }
  40% {
    clip: rect(4px, 150px, 14px, 0); }
  50% {
    clip: rect(16px, 150px, 10px, 0); }
  60% {
    clip: rect(11px, 150px, 2px, 0); }
  70% {
    clip: rect(7px, 150px, 11px, 0); }
  80% {
    clip: rect(7px, 150px, 13px, 0); }
  90% {
    clip: rect(10px, 150px, 16px, 0); }
  100% {
    clip: rect(9px, 150px, 17px, 0); } }
    .tracks .track#wpost:hover .wpost > img {
      position: absolute;
      top: 62px;
      left: 0px; }
    .tracks .track#wpost:hover .wpost > img:nth-child(2),
    .tracks .track#wpost:hover .wpost > img:nth-child(3) {
      clip: rect(0, 0, 0, 0); }
    .tracks .track#wpost:hover .wpost > img:nth-child(2) {
      left: 2px;
      animation: wpost-anim-1 2s infinite linear alternate-reverse; }
    .tracks .track#wpost:hover .wpost > img:nth-child(3) {
      left: -2px;
      animation: wpost-anim-2 3s infinite linear alternate-reverse; }
    .tracks .track#wpost:hover .wpost img:nth-child(2) {
      opacity: 1; }
    .tracks .track:hover {
      border-bottom-color: red; }
      .tracks .track:hover .track-content {
        border-color: red; }
