<ion-view view-title="Register" ng-controller="RegisterCtrl" ng-init="registerData = {}">
	<ion-content class="padding">
		<div id="register">
			<div class="card">
				<div class="item" ng-click="registerFacebook()">
					Facebook
				</div>
				<div class="item" ng-click="registerTwitter()">
					Twitter
				</div>
				<div class="item" ng-click="registerGoogle()">
					Google+
				</div>
			</div>
		  <form name="registerform" class="card" ng-submit="registerSubmit()">
		    <label class="item item-input item-floating-label">
		      <span class="input-label">Email</span>
		      <input
		        class="v8n-right"
		        type="email"
		        placeholder="Email"
		        ng-pattern="/^[0-9a-zA-Z]+([0-9a-zA-Z]*[-._+])*[0-9a-zA-Z]+@[0-9a-zA-Z]+([-.][0-9a-zA-Z]+)*([0-9a-zA-Z]*[.])[a-zA-Z]{2,6}$/"
		        ng-model="registerData.email"
		        required>
		      <i class="icon ion-checkmark-circled valid"></i>
		    </label>
		    <label class="item item-input item-floating-label">
		      <span class="input-label">Password<br><small>Requires one uppercase and lowercase letter, a number and a special character.</small></span>
		      <input
		        class="v8n-right password-toggle"
		        type="{{passwordType}}"
		        placeholder="Password"
		        ng-pattern="/(?=^.{8,30}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;&quot;:;'?/&gt;.&lt;,]).*$/"
		        ng-minlength=8
		        ng-maxlength=30
		        ng-model="registerData.password"
		        required>
		      <i class="icon ion-checkmark-circled valid"></i>
		    </label>
	      <i class="icon ion-eye" ng-click="passwordToggle()"></i>
		    <button class="button button-block button-energized" ng-disabled="registerform.$invalid" ng-click="registering = !registering">
		      <span ng-hide="registering">Register</span>
		      <ion-spinner class="spinner-light" ng-show="registering" icon="ripple"></ion-spinner>
		    </button>
		  </form>
		</div>
	</ion-content>
</ion-view>